*{
    box-sizing: border-box;
    margin: 0;
}

/*<!-- ---------------CONTAINER------------------- -->*/

.container {
    min-height: 70vh;
    background-image: url(images/feem_8C9C9_2026-05-25_17101886985756759674.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/*<!-- ---------------HEADING------------------- -->*/

.header-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 6px 16px;
    background: transparent;
}

.header-container button{
    background-color: hsl(0, 85%, 75%);
    padding: 12px 19px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: hsl(0, 8%, 93%);
    cursor: pointer;
    transition: 0.4s;
}
.header-container button:hover {
    background-color: hsl(0, 100%, 79%);
}

.navigation-container a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 1px 10px;
}

.logo-container p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
}

/*<!-- ---------------SUB BODY------------------- -->*/

.sud-body-container {
    background-color: rgb(233, 229, 229);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sud-body-container-p1{
    color: red;
    font-size: 80px;
    margin: 30px;

}

#sud-body-container-icon {
    color: red;
    font-size: 40px;
}

#sud-body-container-p2 {
    color: red; 
    font-size: 40px; 
    text-align: center;
}

#sud-body-container-p3 {
    color: red; 
    font-size: 40px; 
    text-align: center;
}

#sud-body-container-button {
    background-color: hsl(0, 85%, 75%);
    padding: 12px 19px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: hsl(0, 8%, 93%);
    cursor: pointer;
    transition: 0.4s;
}
#sud-body-container-button:hover{
    background-color: hsl(0, 100%, 79%);

}

/*<!-- ---------------SUB BODY------------------- -->*/

.view-container {
    min-height: 100vh;
    display: flex;
}

.left-view-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-view-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}